<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - UUIDs</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target=".side-nav">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../">DataStax C/C++ Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            
            
            
            <li class="active">
              <a href="../../">Topics</a>
            </li>
            
            
            <li>
              <a href="../../../api/">API docs</a>
            </li>
            
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v2.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              <li>
                <div class="dropdown">
                  <button id="current-version" class="btn btn-default btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    v2.1
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">v2.1</a></li>
                  
                    <li><a href="../../../v2.0/topics/basics/uuids/">v2.0</a></li>
                  
                    <li><a href="../../../v1.0/topics/basics/uuids/">v1.0</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Getting Started</a></li>
              
              
              
              
              
              <li><a href="../">Basics</a></li>
              
              
              
              
              
              <li class="active">UUIDs</li>
              
              
              
            </ol>
          </nav>
          

<h1 id="uui-ds">UUIDs<a class="anchor" href="#uui-ds" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>UUIDs are 128-bit identifiers that can be used to uniquely identify information
without requiring central coordination. These are often used in Cassandra 
for primary and clustering keys. There are two types of UUIDs supported by
the driver (and Cassandra), version 1 which is time-based and version 4 which
is randomly generated. Version 1 can be used with Cassandra&#8217;a <code>timeuuid</code> type
and can be used as a timestamp for data.  Timestamp information can be
extracted from the time part of a version 1 UUID using <a href="http://datastax.github.io/cpp-driver/api/struct_cass_uuid/#1a3980467a0bb6642054ecf37d49aebf1a"><code>cass_uuid_timestamp()</code></a>.
Version 4 can be used with Cassandra’s <code>uuid</code> type for unique identification.</p>

<h2 id="generator">Generator<a class="anchor" href="#generator" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>A UUID generator object is used to create new UUIDs. The <a href="http://datastax.github.io/cpp-driver/api/struct_cass_uuid_gen/"><code>CassUuidGen</code></a> object
is thread-safe. It should only be created once per application and reused.</p>
<pre class="highlight"><code><span class="nc">CassUuidGen</span><span class="o">*</span> <span class="n">uuid_gen</span> <span class="o">=</span> <span class="nb">cass_uuid_gen_new</span><span class="p">();</span>

<span class="nc">CassUuid</span> <span class="n">uuid</span><span class="p">;</span>

<span class="cm">/* Generate a version 1 UUID */</span>
<span class="nb">cass_uuid_gen_time</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Generate a version 1 UUID from an existing timestamp */</span>
<span class="nb">cass_uuid_gen_from_time</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="mi">1234</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Generate a version 4 UUID */</span>
<span class="nb">cass_uuid_gen_random</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="nb">cass_uuid_gen_free</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">);</span>
</code></pre>
<p>A <a href="http://datastax.github.io/cpp-driver/api/struct_cass_uuid_gen/"><code>CassUuidGen</code></a> can also be created with user provided information for the
node part of the UUID. This only affects version 1 UUIDs.</p>
<pre class="highlight"><code><span class="cm">/* Only the 48 least signficant bits of the node are considered */</span>
<span class="nb">cass_uint64_t</span> <span class="n">node</span> <span class="o">=</span> <span class="mh">0x0000AAAABBBBCCCC</span><span class="p">;</span>

<span class="nc">CassUuidGen</span><span class="o">*</span> <span class="n">uuid_gen</span> <span class="o">=</span> <span class="nb">cass_uuid_gen_new_with_node</span><span class="p">(</span><span class="n">node</span><span class="p">);</span>

<span class="cm">/* Generate UUIDs */</span>

<span class="nb">cass_uuid_gen_free</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">);</span>
</code></pre>
<h2 id="extracting-information">Extracting information<a class="anchor" href="#extracting-information" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Information such as the timestamp (for version 1 only) and the version can be
extracted from UUIDs. They can also be converted to and created from the their
hexadecimal string representation e.g. “550e8400-e29b-41d4-a716-446655440000”.</p>
<pre class="highlight"><code><span class="nc">CassUuid</span> <span class="n">uuid</span><span class="p">;</span>
<span class="nb">cass_uuid_from_string</span><span class="p">(</span><span class="s">"550e8400-e29b-41d4-a716-446655440000"</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Extract timestamp and version */</span>
<span class="nb">cass_uint64_t</span> <span class="n">timestamp</span> <span class="o">=</span> <span class="nb">cass_uuid_timestamp</span><span class="p">(</span><span class="n">uuid</span><span class="p">);</span>
<span class="nb">cass_uint8_t</span> <span class="n">version</span> <span class="o">=</span> <span class="nb">cass_uuid_version</span><span class="p">(</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Get string representation of the UUID */</span>
<span class="kt">char</span> <span class="n">uuid_str</span><span class="p">[</span><span class="n">CASS_UUID_STRING_LENGTH</span><span class="p">];</span>
<span class="nb">cass_uuid_string</span><span class="p">(</span><span class="n">uuid</span><span class="p">,</span> <span class="n">uuid_str</span><span class="p">);</span>
</code></pre>


        </div>
        <div class="col-md-3">
          <div id="navigation" class="panel-group side-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="80" role="tablist" aria-multiselectable="true">
            <div id="table-of-contents-panel" class="panel panel-default">
              <div id="table-of-contents-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#table-of-contents" aria-expanded="true" aria-controls="table-of-contents">
                    Contents<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="table-of-contents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-of-contents-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked toc">
<li><a href="#generator">Generator
</a></li>
<li><a href="#extracting-information">Extracting information
</a></li>
</ol>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
