<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Client-side timestamps</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target=".side-nav">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../">DataStax C/C++ Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            
            
            
            <li class="active">
              <a href="../../">Topics</a>
            </li>
            
            
            <li>
              <a href="../../../api/">API docs</a>
            </li>
            
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v2.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              <li>
                <div class="dropdown">
                  <button id="current-version" class="btn btn-default btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    v2.1
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">v2.1</a></li>
                  
                    <li><a href="../../../v2.0/">v2.0</a></li>
                  
                    <li><a href="../../../v1.0/">v1.0</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Getting Started</a></li>
              
              
              
              
              
              <li><a href="../">Basics</a></li>
              
              
              
              
              
              <li class="active">Client-side timestamps</li>
              
              
              
            </ol>
          </nav>
          

<h1 id="client-side-timestamps">Client-side timestamps<a class="anchor" href="#client-side-timestamps" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>Cassandra uses timestamps to serialize write operations. That is, values with a
more current timestamp are considered to be the most up-to-date version of that
information. By default, timestamps are assigned by Cassandra on the
server-side. This behavior can be overridden by configuring the driver to use a
timestamp generator or assigning a timestamp directly to a <a href="../../../api/CassStatement/"><code>CassStatement</code></a> or
<a href="../../../api/CassBatch/"><code>CassBatch</code></a>.</p>

<h2 id="monotonically-increasing-timestamp-generator">Monotonically Increasing Timestamp Generator<a class="anchor" href="#monotonically-increasing-timestamp-generator" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The monotonic timestamp generator guarantees that all writes that share this
generator will be given monotonically increasing timestamps. This generator
produces microsecond timestamps with the sub-millisecond part generated using an
atomic counter. That guarantees that no more than 1000 timestamps will be
generated for a given millisecond clock tick even when shared by multiple
sessions.</p>

<p><strong>Warning</strong>: If the rate of 1000 timestamps per millisecond is exceeded this
generator will produce duplicate timestamps.</p>
<pre class="highlight"><code><span class="nc">CassTimestampGen</span><span class="o">*</span> <span class="n">timestamp_gen</span> <span class="o">=</span> <span class="nb">cass_timestamp_gen_monotonic_new</span><span class="p">();</span>

<span class="nb">cass_cluster_set_timestamp_gen</span><span class="p">(</span><span class="n">cluster</span><span class="p">,</span> <span class="n">timestamp_gen</span><span class="p">);</span>

<span class="cm">/* ... */</span>

<span class="cm">/* Connect sessions */</span>

<span class="cm">/* Timestamp generators must be freed */</span>
<span class="nb">cass_timestamp_gen_free</span><span class="p">(</span><span class="n">timestamp_gen</span><span class="p">);</span>
</code></pre>
<p>All sessions that connect using this cluster object will share this same
timestamp generator.</p>

<h2 id="per-statement-batch-timestamps">Per Statement/Batch timestamps<a class="anchor" href="#per-statement-batch-timestamps" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Timestamps can also be assigned to individuals <a href="../../../api/CassStatement/"><code>CassStatement</code></a> or
<a href="../../../api/CassBatch/"><code>CassBatch</code></a> requests.</p>
<pre class="highlight"><code><span class="nc">CassStatement</span><span class="o">*</span> <span class="n">statement</span> <span class="o">=</span> <span class="nb">cass_statement_new</span><span class="p">(</span><span class="s">"INSERT INTO * ..."</span><span class="p">,</span> <span class="mi">2</span><span class="p">);</span>

<span class="cm">/* Add a timestamp to the statement */</span>
<span class="nb">cass_statement_set_timestamp</span><span class="p">(</span><span class="n">statement</span><span class="p">,</span> <span class="mi">123456789</span><span class="p">);</span>
</code></pre>
<pre class="highlight"><code><span class="nc">CassBatch</span><span class="o">*</span> <span class="n">batch</span> <span class="o">=</span> <span class="nb">cass_batch_new</span><span class="p">(</span><span class="n">CASS_BATCH_TYPE_LOGGED</span><span class="p">);</span>

<span class="cm">/* Add a timestamp to the batch */</span>
<span class="nb">cass_batch_set_timestamp</span><span class="p">(</span><span class="n">batch</span><span class="p">,</span> <span class="mi">123456789</span><span class="p">);</span>

<span class="cm">/* Add statments to batch */</span>
</code></pre>


        </div>
        <div class="col-md-3">
          <div id="navigation" class="panel-group side-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="80" role="tablist" aria-multiselectable="true">
            <div id="table-of-contents-panel" class="panel panel-default">
              <div id="table-of-contents-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#table-of-contents" aria-expanded="true" aria-controls="table-of-contents">
                    Contents<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="table-of-contents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-of-contents-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked toc">
<li><a href="#monotonically-increasing-timestamp-generator">Monotonically Increasing Timestamp Generator
</a></li>
<li><a href="#per-statement-batch-timestamps">Per Statement/Batch timestamps
</a></li>
</ol>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
