<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Keyspaces</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target=".side-nav">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../">DataStax C/C++ Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            
            
            
            <li class="active">
              <a href="../../">Topics</a>
            </li>
            
            
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v1.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              <li>
                <div class="dropdown">
                  <button id="current-version" class="btn btn-default btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    v1.0
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../../topics/basics/keyspaces/">v2.1</a></li>
                  
                    <li><a href="../../../../v2.0/topics/basics/keyspaces/">v2.0</a></li>
                  
                    <li class="disabled"><a href="./">v1.0</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Getting Started</a></li>
              
              
              
              
              
              <li><a href="../">Basics</a></li>
              
              
              
              
              
              <li class="active">Keyspaces</li>
              
              
              
            </ol>
          </nav>
          

<h1 id="keyspaces">Keyspaces<a class="anchor" href="#keyspaces" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<h2 id="setting-the-keyspace-at-connection-time">Setting the Keyspace at Connection Time<a class="anchor" href="#setting-the-keyspace-at-connection-time" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>A session can be initially connected using a supplied keyspace.</p>

<p><strong>Performance Tip:</strong>  An application should create a single session object per keyspace as a session object is designed to be created once, reused, and shared by multiple threads within the application.</p>
<pre class="highlight"><code><span class="nc">CassFuture</span><span class="o">*</span> <span class="n">connect_future</span> 
  <span class="o">=</span> <span class="nb">cass_session_connect_keyspace</span><span class="p">(</span><span class="n">session</span><span class="p">,</span> <span class="n">cluster</span><span class="p">,</span> <span class="s">"keyspace1"</span><span class="p">);</span>
</code></pre>
<h2 id="changing-keyspaces">Changing Keyspaces<a class="anchor" href="#changing-keyspaces" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>You can specify a keyspace to change to by executing a <code>USE</code> statement on a connection session object.</p>
<pre class="highlight"><code><span class="nc">CassStatement</span> <span class="n">use_statment</span> 
  <span class="o">=</span> <span class="nb">cass_statement_new</span><span class="p">(</span><span class="nb">cass_string_init</span><span class="p">(</span><span class="s">"USE keyspace1"</span><span class="p">),</span> <span class="mi">0</span><span class="p">);</span>

<span class="nc">CassFuture</span><span class="o">*</span> <span class="n">use_future</span> 
  <span class="o">=</span> <span class="nb">cass_session_execute</span><span class="p">(</span><span class="n">session</span><span class="p">,</span> <span class="n">use_statement</span><span class="p">);</span>

<span class="cm">/* Check future result... */</span>
</code></pre>
<h2 id="single-session-and-mulitple-keyspaces">Single Session and Mulitple Keyspaces<a class="anchor" href="#single-session-and-mulitple-keyspaces" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>It is possible to interact with multiple keyspaces using a single session object by fully qualifying the table names in your queries e.g. <code>keyspace_name.table_name</code>.</p>

<h3 id="examples">Examples<a class="anchor" href="#examples" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>
<pre class="highlight"><code><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">keyspace_name</span><span class="p">.</span><span class="n">table_name</span> <span class="k">WHERE</span> <span class="p">...;</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">keyspace_name</span><span class="p">.</span><span class="n">table_name</span> <span class="p">(...)</span> <span class="k">VALUES</span> <span class="p">(...);</span>
</code></pre>
<h2 id="creating-keyspaces-and-tables">Creating Keyspaces and Tables<a class="anchor" href="#creating-keyspaces-and-tables" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>It is also possible to create keyspaces and tables by executing CQL using a session object.</p>

<h3 id="examples">Examples<a class="anchor" href="#examples" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>
<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">cpp_driver</span>
  <span class="k">WITH</span> <span class="n">REPLICATION</span> <span class="o">=</span> <span class="p">{</span> <span class="s1">'class'</span> <span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span> <span class="s1">'replication_factor'</span> <span class="p">:</span> <span class="mi">1</span> <span class="p">};</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">cpp_driver</span><span class="p">.</span><span class="n">contributers</span> <span class="p">(</span>
  <span class="n">lastname</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">firstname</span> <span class="n">test</span><span class="p">,</span>
  <span class="n">company</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">website</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">since</span> <span class="k">timestamp</span><span class="p">,</span>
  <span class="n">last_activity</span> <span class="k">timestamp</span>
  <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">(</span><span class="n">lastname</span><span class="p">));</span>
</code></pre>


        </div>
        <div class="col-md-3">
          <div id="navigation" class="panel-group side-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="80" role="tablist" aria-multiselectable="true">
            <div id="table-of-contents-panel" class="panel panel-default">
              <div id="table-of-contents-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#table-of-contents" aria-expanded="true" aria-controls="table-of-contents">
                    Contents<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="table-of-contents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-of-contents-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked toc">
<li><a href="#setting-the-keyspace-at-connection-time">Setting the Keyspace at Connection Time
</a></li>
<li><a href="#changing-keyspaces">Changing Keyspaces
</a></li>
<li>
<a href="#single-session-and-mulitple-keyspaces">Single Session and Mulitple Keyspaces
</a><ol class="nav nav-pills nav-stacked"><li><a href="#examples">Examples
</a></li></ol>
</li>
<li>
<a href="#creating-keyspaces-and-tables">Creating Keyspaces and Tables
</a><ol class="nav nav-pills nav-stacked"><li><a href="#examples">Examples
</a></li></ol>
</li>
</ol>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
